:root {
  --left-side-color: #581c87;
  --book-card-color: #1e3a8a;
}

body {
  display: flex;
  flex-direction: row-reverse;

  margin: 0;
  padding: 0;
}

.book-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  width: clamp(300px, 20vw, 450px);

  color: white;
  background-color: var(--left-side-color);

}

#form-sector {
  visibility: hidden;
}

.book-form form {
  display: flex;
  flex-direction: column;
  gap: 5px;


}

.new-book-form {

}

.book-input {
  display: flex;
}

.input-label {
  width: 5rem;
  margin-right: 5px;
}

input[type=submit] {
  height: 2rem;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.book-sector {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70vw;
  gap: 20px;
}

#books {
  display: grid;
  grid-template-columns: repeat(3, 225px);
  grid-template-rows: repeat(auto-fit, 275px);
  gap: 30px;

  width: 50vw;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;

  padding-left: 25px;
  border: 5px solid black;

  color: white;
  background-color: var(--book-card-color);
}

.book p {
  margin: 0;
  padding: 0;
}